<div>
  <mat-toolbar color="primary"> 
    <div>   
      <mat-icon>list</mat-icon>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav class="mat-toolbar mat-primary" color="primary" #sidenav mode="side" opened="true">
      <div>
        <mat-icon>filter_1</mat-icon>
      </div>
      <div>
        <mat-icon>filter_2</mat-icon>      
      </div>
      <div>
        <mat-icon>filter_3</mat-icon>      
      </div>
      <div>
        <mat-icon>filter_4</mat-icon>      
      </div>
    </mat-sidenav>
    <div class="content">x</div>
  </mat-sidenav-container>
</div>
